<a href="https://colab.research.google.com/github/sumusa/Testing/blob/master/MyFirstColabNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import time
print(time.ctime())

Sat Jul  4 02:50:31 2020

In [2]:
time.sleep(5)
print(time.ctime())

Sat Jul  4 02:50:36 2020

This is **bold**.
This is *italic*.
This is ~strikethrough~.

$e^x = \sum_{i = 0}^\infty \frac{1}{i!}x^i$

$\sqrt{3x-1}+(1+x)^2$

In [4]:
message = 'A Great Tutorial on Colab by Tutorialspoint!'
greeting = !echo -e '$message\n$message'
greeting #a simple code cell that uses the system commmand 'echo'

['A Great Tutorial on Colab by Tutorialspoint!',
 'A Great Tutorial on Colab by Tutorialspoint!']

In [5]:
!wget http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/adult.data -P "/content/drive/My Drive/app"
#to load dataset from a remote server

--2020-07-04 03:40:52--  http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/adult.data
Resolving mlr.cs.umass.edu (mlr.cs.umass.edu)... 128.119.246.96
Connecting to mlr.cs.umass.edu (mlr.cs.umass.edu)|128.119.246.96|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [text/plain]
Saving to: ‘/content/drive/My Drive/app/adult.data’

adult.data          100%[===================>]   3.79M  4.93MB/s    in 0.8s

2020-07-04 03:40:53 (4.93 MB/s) - ‘/content/drive/My Drive/app/adult.data’ saved [3974305/3974305]

In [7]:
import pandas as pd
data = pd.read_csv("/content/drive/My Drive/app/adult.data")
data.head(5)

   39          State-gov   77516   Bachelors  ...   0  40   United-States   <=50K
0  50   Self-emp-not-inc   83311   Bachelors  ...   0  13   United-States   <=50K
1  38            Private  215646     HS-grad  ...   0  40   United-States   <=50K
2  53            Private  234721        11th  ...   0  40   United-States   <=50K
3  28            Private  338409   Bachelors  ...   0  40            Cuba   <=50K
4  37            Private  284582     Masters  ...   0  40   United-States   <=50K

[5 rows x 15 columns]

In [8]:
!git clone https://github.com/wxs/keras-mnist-tutorial.git #clone the keras tutorial on github

Cloning into 'keras-mnist-tutorial'...
remote: Enumerating objects: 26, done.
remote: Total 26 (delta 0), reused 0 (delta 0), pack-reused 26
Unpacking objects: 100% (26/26), done.